<div class="row">

	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>

	<div class="span9">
		<ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">Glossary</li>
		</ul>

		<p style="float: right;">
			<a href="/admin/glossary/new" class="btn btn-success btn-small"><i class="icon-plus icon-white"></i> New Term</a>
		</p>
		
		<h1>Terms</h1>

		<hr style="border-top: 1px solid silver;" />

		<% @glossary.each do |glossary| %>
			<div class="row">
			
				<div class="span2">
					<strong><%= glossary.term %></strong>
					<br />
					<%= glossary.chapter %>
				</div>
				<div class="span5">
					<%= markdown glossary.definition %>
				</div>
				<div class="span2">
					<div class="btn-group" style="float: right;">
						<a href="/admin/glossary/<%= glossary.term %>" class="btn btn-info btn-mini"><i class="icon-edit icon-white"></i></a>
						<a class="btn btn-mini btn-danger" href="/admin/glossary/<%= glossary.term %>/delete"><i class="icon-remove icon-white"></i></a>
					</div>
				</div>
				
			</div>

			<hr style="border-top: 1px solid silver;" />
		<% end %>

	</div>

</div>