<div class="row">

	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>

	<div class="span9">

		<h1 class="blue-color">Manuals</h1>

		<table class="table table-condensed">
				<tr>
					<th>
						
					</th>
					<th style="text-align: center;">
						Version
					</th>
					<th>
						ISBN
					</th>
					<th>
						<a href="/admin/manuals/new" class="btn btn-success btn-small pull-right">New Manual</a>
					</th>
				</tr>
				<% @manual.each do |manual| %>
				<tr>
					<td>
						<strong><%= manual.name %></strong>
					</td>
					<td style="text-align: center;">
						<%= manual.version %>
					</td>
					<td>
						<%= manual.isbn %>
					</td>
					<td>
						<span class="pull-right"><a href="/admin/manuals/<%= manual.id %>/edit" class="btn btn-default btn-mini">Edit</a> <a href="/admin/manuals/<%= manual.id %>/sections" class="btn btn-primary btn-mini">Sections</a></span>
					</td>
				</tr>
				<% end %>
			</table>
			<hr />
			<h4 class="oswald blue-color">Title Pages in View Mode Displayed Below</h4>

			<% @manual.each do |manual| %>
			<hr />
			<div class="md">
				<p class="para"><small class="blue-color">(Last updated <%= manual.updated_at.display_short %>)</small></p>
				<%= markdown manual.title_page %>
				<p>Version <%= manual.version %></p>
				<p>ISBN <%= manual.isbn %></p>
			<% end %>
			<hr />
			</div>
	</div>

</div>