<div class="row">

	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>

	<div class="span9">
		<ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li><a href="/admin/glossary">Glossary</a> <span class="divider">/</span></li>
			<li class="active"><%= @term.term %></li>
		</ul>
		
		<h1><%= @term.term %></h1>

		<form class="form-horizontal" method="post">
			
			<div class="control-group" id="term-group">
				<label class="control-label" for="term">Term</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="term" name="term" value="<%= @term.term %>">
				</div>
			</div>

			<div class="control-group" id="definition-group">
				<label class="control-label" for="definition">Definition</label>
				<div class="controls">
					<textarea name="definition" id="definition" class="input-xlarge" rows="7"><%= @term.definition %></textarea>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn btn-primary" value="<%= @term.id ? 'Update' : 'Create' %>" />
					or
					<a href="/admin/glossary">Cancel</a>
				</div>
			</div>
						
		</form>

	</div>

</div>
