<div class="row">
	
	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>
	
	<div class="span9">
		<ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">Users</li>
		</ul>
		
		<form class="form-search" method="get" action="/admin/users">
			<div class="input-append">
			<input type="text" class="input-xlarge search-query" name="search" value="<%= params[:search] %>" />
			<button type="submit" style="border: 1px solid green;" class="btn btn-success ">Search</button>
		</div>
		</form>
		
		
		
		
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th><a class="btn btn-mini btn-success" href="/admin/users/new"><i class="icon-plus icon-white"></i></a></th>
				</tr>
			</thead>
			<tbody>
				<% @users.sort{|a,b| b.expiration_date <=> a.expiration_date}.each do |user| %>
					<tr>
						<td><% unless user.name == 'Sample User (do not delete)' %><a href="/admin/users/<%= user.id %>/delete" style="float: right; padding: 0 4px;" class="btn btn-danger btn-mini"><strong>x</strong></a><% end %><% if user.email == "sample" %>Sample <%= user.id %><% end %><%= user.name %> <%= '<span class="label label-inverse">Admin</span>' if user.admin? %></td>
						<td><% if user.email == "sample" %>None<% else %><a href="mailto:<%= user.email %>"><%= user.email %></a><% end %></td>
						<td><a href="/admin/users/<%= user.id %>">Edit</a></td>
					</tr>
				<% end %>
				<!-- <% @users.each do |user| %>
					<tr>
						<td><% if user.email == 'sample' %><%= user.id %> <a href="/admin/users/<%= user.id %>/delete" class="btn btn-danger btn-mini" style="float: right;">Delete</a><% end %><%= user.name %> <%= '<span class="label label-inverse">Admin</span>' if user.admin? %></td>
						<td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
						<td><a href="/admin/users/<%= user.id %>">Edit</a></td>
					</tr>
				<% end %> -->
		  </tbody>
		</table>
	</div>
	
</div>