<fieldset>
	
	
	
	<legend><span style="padding: 0 9px 0 7px;">1</span> Package <small>Choose one</small></legend>
	
	<div class="row">		
		<div class="span5 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="single-scenario" value="Single Scenario" data-price='20' <%= 'checked="checked"' if params[:package] == 'Single Scenario' %> /> &nbsp;<span style="font-size: 1.3em;" class="oswald">Single Scenario $20</span>
					<ul class="package-features">
						<li><strong>1 Online Scenarios</strong></li>
						<li>Qualify for one CEU credit per scenario</li>
						<li>NBCC Approved</li>
						<li>Receive unlimited access to online scenario for 30 days</li>
						<li>No waiting for certificate to be mailed - download immediately</li>
					</ul>
					
				</label>
			</p>
				
		</div>	<!-- span5 -->				
		
		<div class="span5 content">
			<div class="control-group" style="margin-top: 2.5em;">
				<label class="control-label" for="license"><strong>License</strong> <small>(Reqired for Continuing Education Units)</small></label>
				<div class="controls">
					<% if locals[:user] %>
						<% if user.license == "" %>
						<input type="text" style="color: #000000;" class="input-xlarge focus" id="license" name="license" value="<%= @user.license %>" autofocus required />
						<% elsif user.license == nil %>
						<input type="text" style="color: #000000;" class="input-xlarge focus" id="license" name="license" value="<%= @user.license %>" autofocus required />
						<% else %>
						<input type="text" style="color: #000000;" class="input-xlarge focus" id="license" name="license" value="<%= @user.license %>" disabled />
						<% end %>
					<% else %>
					<input type="text" class="input-xlarge" id="license" name="license" value="<%= params[:license] %>" autofocus required />
					<% end %>
				</div>
			</div>
			
		</div>   <!-- span5 -->

	</div>	   <!-- row -->

	<% if locals[:user] %>
		<input type="hidden" name="user_id" id="user_id" value="<%= locals[:user].id %>" />
	<% end %>
	
</fieldset>



