<div class="row">	
	<div class="span12">
		
			<h1><%= @exam %> Study Glossary</h1>
						
			<p>Use these flash cards to promote active recall. The following terms are taken from the study material. <br />The definitions of these terms are brief to re-enforcing learning and may require further research.</p>
		
	</div>
</div>

<ul class="nav nav-tabs">
	<% @glossary.group_by(&:chapter).each_with_index do |(chapter, terms), index| %>
		<li <%= 'class="active"' if index == 0 %>><a href="#terms-<%= index %>" data-toggle="tab"><%= chapter %></a></li>
	<% end %>
</ul>

<div class="tab-content">
	<% @glossary.group_by(&:chapter).each_with_index do |(chapter, terms), index| %>
		<div class="tab-pane <%= 'active' if index == 0 %>" id="terms-<%= index %>">
		
			<p>
				<a href="/cards/<%= @exam %>/<%= chapter %>" class="btn btn-info"><%= chapter %> Flash Cards</a>
			</p>
			
			<hr />
		
			<% terms.sort!{|a,b| a.term <=> b.term}.each do |glossary| %>
				<div class="row">
				
					<div class="span3">
						<strong><%= glossary.term %></strong>
					</div>
					<div class="span9">
						<%= markdown glossary.definition %>
					</div>
					
				</div>
				<hr style="margin: 3px 0 6px 0;" />
			<% end %>
		</div>
	<% end %>
</div>
