<div class="row">	
	<div class="span12">
		
			<h1><%= @exam %> Study Glossary</h1>
						
			<p>The following terms were used with the disorders in this training Supplement. <br />The definitions of the different terms are brief and may require further research.</p>
		
	</div>
</div>


<% @glossary.sort_by{|g| g.chapter}.group_by(&:chapter).each do |chapter, terms| %>

	<div class="page-header">
		<a href="/cards/<%= @exam %>/<%= chapter %>" class="btn btn-info pull-right">Flash Cards</a>
		<h3><%= chapter %></h3>		
	</div>

	<% terms.sort!{|a,b| a.term <=> b.term}.each do |glossary| %>
		<div class="row">
		
			<div class="span3">
				<strong><%= glossary.term %></strong>
			</div>
			<div class="span9">
				<%= markdown glossary.definition %>
			</div>
			
		</div>
	<% end %>
<% end %>
