<div class="page-header">
	<h1>
		<%= @user.name %>
		<%= '<small>Admin</small>' if @user.admin? %>
	</h1>
</div>

<div class="row">

	<div class="span3">
		<form class="well form-horizontal" method="post">
			<p>
				<label for="email">Email address</label>
				<input type="text" style="width: 96%;" name="email" id="email" value="<%= @user.email %>" />
			</p>
			<p>
				<label for="phone">Phone number</label>
				<input type="text" style="width: 96%;" name="phone" id="phone" value="<%= @user.phone %>" />
			</p>
			<p>
				<label for="password">New password</label>
				<input type="password" style="width: 96%;" name="password" id="password" />
				<span class="help-inline">Leave blank unless you want a new password.</span>
			</p>
			<p>
				<button type="submit" class="btn">Update Account</button>
			</p>
			<hr />
			<p>
				<small>
					<% if @user.admin? %>
						No expiration date.
					<% else %>
						<% if (@user.expiration_date - 30) > Time.now.to_date %>
							Account expires on <%= @user.expiration_date.display :american_day %>.
						<% else %>
							<strong style="color: red; font-size: 100%;">Account expires on <%= @user.expiration_date.display :american_day %>.</strong>
						<% end %>
					<% end %>
				</small>
			</p>
			<p>
				<a class="btn btn-success btn-small" href="/checkout/account-extension">Add 90 days for $30</a>
			</p>
		</form>
	</div>

	<div class="span9">
	
	<% if @user.max_exams > 0 %>
		
		<div class="page-header">
			<h3>
				NCE Exams
					<% unless @user.max_exams > 2 %>
						<span style="float: right; margin-left: 3px;">&nbsp;<a class="btn btn-success btn-small" href="/checkout/nce-upgrade">Buy 2 more practice exams for $60</a></span>
					<% end %>
					<% unless @user.purchases.any? { |purchase| purchase.shipped_on != nil } %>
						<span style="float: right;"><a class="btn btn-success btn-small" href="/checkout/nce-hard-copy">Buy a hard copy for $12.95</a></span>
					<% end %>
			</h3>
		</div>
				
		<p><a href="/nce/exams">Choose an exam</a> to get started.</p>
			
		<% unless @exams.empty? %>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Exam</th>
						<th>Score</th>
						<th>Taken On</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @exams.sort { |a,b| a.exam_id <=> b.exam_id }.each do |average| %>
						<tr>
							<td><%= average.exam_id %>. <%= average.exam.title %></td>
							<td>
								<% if avg = Average.last(user_id: session[:user], exam_id: average.exam_id) %>
									<%= avg.score %>%
								<% else %>
									N/A
								<% end %>
							</td>
							<td><%= average.created_at.display %></td>
							<td style="text-align: right;"><a href="/nce/exams/<%= average.exam_id %>">Review</a></td>
						</tr>
					<% end %>
				</tbody>			
			</table>
		<% end %>
		
		<br />
	<% end %>
		
	<% if @user.max_scenarios > 0 %>
		
		<div class="page-header">
			<h3>
				NCMHCE Scenarios
				<small><%= @user.remaining_scenarios %> Remaining</small>
				<% if @user.max_scenarios < 36 %>
					<span style="float: right;">&nbsp; <a class="btn btn-success btn-small" href="/checkout/ncmhce-upgrade">Buy 12 more scenarios for $80</a></span>
				<% end %>
				<% unless @user.purchases.any? { |purchase| purchase.shipped_on != nil } %>
						<span style="float: right;"><a class="btn btn-success btn-small" href="/checkout/ncmhce-hard-copy">Buy a hard copy for $12.95</a></span>
				<% end %>
			</h3>
		</div>
			
		<p><a href="/ncmhce/scenarios">Choose a scenario</a> to get started.</p>
			
		<% unless @scenarios.empty? %>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Scenario</th>
						<th>Score</th>
						<th>Taken On</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @scenarios.sort { |a,b| a.scenario_id <=> b.scenario_id }.each do |average| %>
						<% unless average.scenario.workshop? %>
							<tr>
								<td><%= average.scenario_id %>. <%= average.scenario.title %></td>
								<td>
									<% if avg = Average.last(user_id: session[:user], scenario_id: average.scenario_id) %>
										<%= avg.score %>%
									<% else %>
										N/A
									<% end %>
								</td>
								<td><%= avg.updated_at.display if avg %></td>
								<td style="text-align: right;"><a href="/ncmhce/scenarios/<%= average.scenario_id %>">Review</a></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		<% end %>
		
		<br />
	<% end %>
	
	<% if @user.workshop_scenarios? %>
	
		<div class="page-header">
			<h3>Workshop Scenarios</h3>
		</div>
		
		<table class="table condensed">
			<thead>
				<tr>
					<th>Scenario</th>
					<th>Score</th>
					<th>Taken On</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% Scenario.all(workshop: true, active: true).each do |scenario| %>
					<% use = Use.last(scenario_id: scenario.id, user_id: @user.id) %>
					<% avg = Average.last(scenario_id: scenario.id, user_id: @user.id) %>
					<tr>
						<td><%= scenario.title %></td>
						<td>
							<%= avg ? "#{avg.score}%" : 'N/A' %>
						</td>
						<td>
							<%= avg ? avg.created_at.display : '' %>
						</td>
						<td style="text-align: right;">
							<a href="/ncmhce/scenarios/<%= scenario.id %>">Take</a>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
		<br />
	<% end %>
		
	<% if @user.nce_downloads || @user.ncmhce_downloads %>
		<div class="page-header">
			<h3>Downloads</h3>
		</div>
			
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Book</th>
					<th class="hidden-phone">Format</th>
					<th>Last Update</th>
					<th class="hidden-phone"></th>
					<th></th>
				</tr>
			</thead>
				
			<tbody>
				<% if @user.nce_downloads %>
					<tr>
						<td>NCE Study Guide.epub</td>
						<td class="hidden-phone">iPhone/iPad, Android, eReaders</td>
						<td><span class="badge badge-warning">3/11/2013</span></td>
						<td class="hidden-phone">911KB</td>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.epub">Download</a></td>
					</tr>
					<tr>
						<td>NCE Study Guide.mobi</td>
						<td class="hidden-phone"><a href="#" rel="popover" title="Location of eBook on Kindle" data-content="Even if copied into the Books folder, this eBook might only be accessable from the Docs folder.">Kindle</a>
						</td>
						<td><span class="badge badge-warning">3/11/2013</span></td>
						<td class="hidden-phone">3.1MB</td>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.mobi">Download</a></td>
					</tr>
					<tr>
						<td>NCE Study Guide.pdf</td>
						<td class="hidden-phone">Any device with a PDF Reader</td>
						<td><span class="badge badge-warning">3/11/2013</span></td>
						<td class="hidden-phone">2.5MB</td>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.pdf">Download</a></td>
					</tr>
				<% end %>
				<% if @user.ncmhce_downloads %>
					<tr>
						<td>NCMHCE Study Supplement.epub</td>
						<td class="hidden-phone">iPhone/iPad, Android, eReaders</td>
						<td><span class="badge badge-warning">4/3/2013</span></td>
						<td class="hidden-phone">500KB</td>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.epub">Download</a></td>
					</tr>
					<tr>
						<td>NCMHCE Study Supplement.mobi</td>
						<td class="hidden-phone">
							<a href="#" class="top" rel="popover" title="Location of eBook on Kindle" data-content="Even if copied into the Books folder, this eBook might only be accessable from the Docs folder.">Kindle</a>
						</td>
						<td><span class="badge badge-warning">4/3/2013</span></td>
						<td class="hidden-phone">1.4MB</td>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.mobi">Download</a></td>
					</tr>
					<tr>
						<td>NCMHCE Study Supplement.pdf</td>
						<td class="hidden-phone">Any device with a PDF Reader</td>
						<td><span class="badge badge-warning">3/30/2013</span></td>
						<td class="hidden-phone">1.3MB</td>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.pdf">Download</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<br />
	<% end %> 
				
	<% if @user.purchases.count > 0 %>

		<div class="page-header">
			<h3>Purchases</h3>
		</div>
			
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th>Item</th>
				</tr>
			</thead>
			<tbody>
				<% @user.purchases.each do |purchase| %>
					<tr>
						<td><%= purchase.created_at.display :american_day %></td>
						<td>	<%= purchase.amount.dollarize %></td>
						<td>
							<%= purchase.package %>
							<% if purchase.options %>
								<%= purchase.options %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
	<% end %>
		
</div>

</div>