<div class="row">
	<div class="span12">
		<div class="page-header visible-desktop">
			<h1>
				<%= @user.name %> <small style="font-size: 0.75em;"><%= 'Admin' if @user.admin? %></small>
			</h1>
		</div>
		<div class="page-header hidden-desktop" style="margin-top: -40px;">
			<h1>
				<%= @user.name %> <small style="font-size: 0.75em;"><%= 'Admin' if @user.admin? %></small>
			</h1>
		</div>
	</div>
</div>


<div class="row">

	<div class="span3">
		<form class="well form-horizontal" method="post" autocomplete="off">
			<p>
				<label for="email"><strong>Email address</strong></label>
				<input type="text" style="width: 96%; color: #333333;" name="email" id="email" value="<%= @user.email %>" />
				<span class="hidden"><input type="text" style="width: 96%; color: #333333;" name="email" id="email" value="<%= @user.email %>" /></span>
			</p>
			<p>
				<label for="phone"><strong>Phone number</strong></label>
				<input type="text" style="width: 96%;" name="phone" id="phone" placeholder="Phone" value="<%= @user.phone %>" />
			</p>
			<p>
				<label for="password"><strong>New password</strong></label>
				<input type="password" style="width: 96%;" name="password" id="password" />
				<span class="help-inline"  style="line-height: 1em; margin: 3px 0;"><small>Leave blank unless you want a new password.</small></span>
			</p>
			<% unless @user.license == "" %>
			<p>
				<small><strong>License:</strong> <%= @user.license %></small>
			</p>
			<% end %>
			<p>
				<button type="submit" class="btn btn-primary">Update Account</button>
			</p>
			<hr />
			<p>
				<% if @user.admin? %>
					<small>No expiration date.</small>
				<% elsif @user.ceu_scenario %>
					<small>Active CEU Account</small>
				<% else %>
					<% if (@user.expiration_date - 30) > Time.now.to_date %>
						<small>Account expires on <strong><%= @user.expiration_date.display :american_day %></strong>.</small>
					<% else %>
						<small><span style="color: red;">Account expires on <strong><%= @user.expiration_date.display :american_day %></strong>.</span></small>
					<% end %>
				<% end %>
			</p>
			<% unless @user.expiration_date <= DateTime.now || @user.ceu_scenario %>
				<p><a class="btn btn-success btn-small" href="/checkout/account-extension">Add 90 days for $30</a></p>
			<% end %>
		</form>
		
	</div>

	<div class="span9">

	<% Message.all(profile: true).each do |m| %>
		<div class="alert alert-info" style="border: none;"><%= m.body %></div>
	<% end %>
	
	<% unless @user.ceu_scenario %>
		<% if @user.expiration_date <= DateTime.now %>
			<div class="alert alert-warning" style="border: none;">
				<h3>Your account has expired.</h3>
				<p>You can extend your account by purchasing any product or add-on, or by purchasing an account extension.</p>
				<p><a href="/checkout/account-expiration?account=<%= @user.email %>" class="btn btn-success btn-small">Buy an Account Extension</a></p>
			</div>
		<% end %>
	<% end %> 
	
 <!-- –––––––––––––––––– nce –––––––––––––––––– -->    

	<% if @user.max_exams > 0 %>

		<div>
			<h3>
				<span class="oswald" style="font-size: 1.5em;">NCE Exams</span>
					<% unless @user.max_exams > 2 %>
						<span style="float: right; margin-left: 3px;">&nbsp;<a class="btn btn-success btn-small" href="/checkout/nce-upgrade">Buy 2 more practice exams for $60</a></span>
					<% end %>
					<% unless @user.expired? %>
					<% unless @user.purchases.any? { |purchase| purchase.options == "+ Hard Copy" } %>
						<span style="float: right;"><a class="btn btn-success btn-small" href="/checkout/nce-hard-copy">Buy a hard copy for $13.95</a></span>
					<% end %>
					<% end %>
			</h3>
			<br />
		</div>

    <% Message.all(nce: true).each do |m| %>
      <div class="alert alert-info" style="border: none;"><%= m.body %></div>
    <% end %>
	 
	 <p style="padding: 0.2em 0 0.7em 0;"><a class="btn btn-info" href="/manuals/99/sections/cover"><strong>Study Online Now</strong></a> &nbsp; <small><br class="visible-phone" /><span class="label label-important">NEW</span> &nbsp;<strong>Study Guide now available online.</strong> No need to download ebook.</small></p>

	 
	 <% unless @user.expired? %>
		<p><a class="btn btn-primary btn-small" href="/nce/exams"><strong>Choose a NCE exam to take</strong></a></p>
		<% end %>
		<% unless @exams.empty? %>
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Exam</th>
						<th>Score</th>
						<th>Last Taken</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @exams.sort { |a,b| a.exam_id <=> b.exam_id }.each do |average| %>
						<tr>
							<td><%= average.exam_id %>. <%= average.exam.title %></td>
							<td>
								<% if avg = Average.last(user_id: session[:user], exam_id: average.exam_id) %>
									<%= avg.score %>%
								<% else %>
									N/A
								<% end %>
							</td>
							<td><%= average.created_at.display %></td>
							<td style="text-align: right;">
								<% unless @user.expired? %>
								<% if avg == nil %>
									<a href="/nce/exams/<%= average.exam_id %>">Continue</a>
									<% else %>
									<a href="/nce/exams/<%= average.exam_id %>">Review</a>
								<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
		
		<% if @user.nce_flashcards %>
		<a href="/nce/glossary" class="btn btn-info">NCE Flashcards</a>
		<% end %>
		
		<br /><hr /><br />
	<% end %>
	
<!-- –––––––––––––––––– ncmhce –––––––––––––––––– -->

	<% if @user.max_scenarios > 0 %>

		<div class="visible-desktop">
			<h3>
				<span class="oswald" style="font-size: 1.5em;">NCMHCE Scenarios</span>
				
				<% if @user.max_scenarios < 36 %>
					<span style="float: right;">&nbsp; <a class="btn btn-success btn-small" href="/checkout/ncmhce-upgrade">Buy 12 more scenarios for $80</a></span>
				<% end %>
				<% unless @user.expired? %>
				<% unless @user.purchases.any? { |purchase| purchase.options == "+ Hard Copy" } %>
					<span style="float: right;"><a class="btn btn-success btn-small" href="/checkout/ncmhce-hard-copy">Buy a hard copy for $13.95</a></span>
				<% end %>
				<% end %>
			</h3>
			<br />
		</div>
		
		<div class="hidden-desktop">
			<h3>
				<span class="oswald" style="font-size: 1.5em;">NCMHCE Scenarios</span>
			</h3>
			<div style="margin: 6px 0 0 0;">
				<% if @user.max_scenarios < 36 %>
					<a class="btn btn-success btn-small" style="margin: 0 0 6px 0;" href="/checkout/ncmhce-upgrade">Buy 12 more scenarios for $80</a>
				<% end %>
				<% unless @user.expired? %>
				<% unless @user.purchases.any? { |purchase| purchase.options == "+ Hard Copy" } %>
					<a class="btn btn-success btn-small" style="margin: 0 0 6px 0;" href="/checkout/ncmhce-hard-copy">Buy a hard copy for $13.95</a>
				<% end %>
				<% end %>
			</div>
		</div>

    <% Message.all(ncmhce: true).each do |m| %>
      <div class="alert alert-info" style="border: none;"><%= m.body %></div>
    <% end %>
	 
	 
	 <div style="border-left: 3px solid #bc272e; padding-left: 1.5em;">
	 
	 <% if @user.purchases.any? { |purchase| (purchase.package == "NCMHCE: Starter Package") && ((purchase.created_at + 14) > Time.now.to_date) } && @user.remaining_scenarios < 13 %>
	 <span style="float: right;"><a class="btn btn-success btn-small" href="/checkout/second-chance-upgrade">Upgrade to Full Package now for $110</a></span>
	 <h2 class="oswald ncmhce-color" style="margin-top: 0;">Second Chance Offer!</h2> 
	 <p style="line-height: 1.1em;"><small><strong>For access to all 36 scenarios</strong>, you have two weeks from your original purchase date to upgrade your <strong>Starter Package</strong> to our <strong>Full Package</strong> for the price difference of $110.</small><br /><span style="font-size: 1.2em; line-height: 2.5em;" class="oswald ncmhce-color"><strong>You'll save $50!</strong></span></p>
	 <% end %>
	 
	 </div>
	 
	 <p style="padding: 0.2em 0 0.7em 0;"><a class="btn btn-info" href="/manuals/98/sections/cover"><strong>Study Online Now</strong></a> &nbsp; <small><br class="visible-phone" /><span class="label label-important">NEW</span> &nbsp;<strong>Study Guide now available online.</strong> No need to download ebook.</small></p>
	 
	 <% if @user.ncmhce_flashcards %>
	 <p style="padding: 0em 0 0.7em 0;"><a class="btn btn-info" href="/ncmhce/glossary"><strong>NCMHCE Flashcards</strong></a> &nbsp; <small><br class="visible-phone" /><span class="label label-important">NEW</span> &nbsp;<strong>Use these flashcards to promote active recall.</strong></p>
	 <% end %>
	 
	 	<% unless @user.expired? %>
		<p><a class="btn btn-primary btn-small" href="/ncmhce/scenarios"><strong>Choose a NCMHCE scenario to take</strong></a>&nbsp; <br class="visible-phone" /><small><%= @user.remaining_scenarios %> Remaining</small></p>
		<% end %>
		<% unless @scenarios.empty? %>
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Scenario</th>
						<th style="text-align: center;">IG</th>
						<th style="text-align: center;">DM</th>
						<th>Last Taken</th>
						<th style="text-align: right;"></th>
					</tr>
				</thead>
				<tbody>
					<% @scenarios.sort { |a,b| a.scenario_id <=> b.scenario_id }.each do |average| %>
						<% unless average.scenario.workshop? || average.scenario.practice? || average.scenario.ceu? %>
							<tr>
								<td>
									<%= average.scenario_id %>. <%= average.scenario.title %>
								</td>
								<td style="text-align: center;">
									<% @information_gathering = Scoretype.last(
										type: "Information Gathering",
										scenario_id: average.scenario_id,
										user_id: session[:user]
									) %>
									<% if @information_gathering %>
									<%= @information_gathering.correct %>/<%= @information_gathering.possible %> 
									<% else %><small>N/A</small><% end %>
								</td>
								<td style="text-align: center;">
									<% @decision_making = Scoretype.last(
										type: "Decision Making",
										scenario_id: average.scenario_id,
										user_id: session[:user]
									) %>
									<% if @decision_making %>
									<%= @decision_making.correct %>/<%= @decision_making.possible %>
									<% else %><small>N/A</small><% end %>
								</td>
								<% if avg = Average.last(user_id: session[:user], scenario_id: average.scenario_id) %>
									<td><%= avg.updated_at.display_short if average %></td>
								<% else %>
									<td>Unfinished</td>
								<% end %>
								<td style="text-align: right;">
									<% unless @user.expired? %>
									<% if avg == nil %>
										<a href="/ncmhce/scenarios/<%= average.scenario_id %>">Continue</a>
										<% else %>
										<a href="/ncmhce/scenarios/<%= average.scenario_id %>">Review</a>
									<% end %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		<% end %>

		<hr /><br />
	<% end %>
	

<!-- –––––––––––––––––– ceu –––––––––––––––––– -->

	<% if @user.ceu_scenario > 0 %>

		<div>
			<h3>
				<span class="oswald" style="font-size: 1.5em;">CEU Scenarios</span>
				<% if @user.ceu_scenario < 14 %>
					<span style="float: right;">&nbsp; <a class="btn btn-success btn-small" href="/checkout/ceu?package=Single%20Scenario">Buy another CEU scenario for $20</a></span>
				<% end %>
			</h3>
			<br />
		</div>
      <% Message.all(ceu: true).each do |m| %>
        <div class="alert alert-info" style="border: none;"><%= m.body %></div>
      <% end %>
	 	<% unless (@user.remaining_ceu_scenario < 1) %>
		<p><a class="btn btn-primary btn-small" href="/ceu/scenarios"><strong>Choose a CEU scenario to take</strong></a>
		&nbsp; <%= @user.remaining_ceu_scenario %> Remaining</p>
		<% end %>
		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Scenario</th>
					<th style="text-align: center;">Score</th>
					<th style="text-align: center;">Last Taken</th>
					<th style="text-align: center;" class="hidden-phone">Remaining</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @scenarios.sort { |a,b| a.scenario_id <=> b.scenario_id }.each do |average| %>
					<% unless average.scenario.workshop? || average.scenario.practice? %>
					<% if average.scenario.ceu? %>

					<tr>
						<td>
							<%= average.scenario_id %>. <%= average.scenario.title %><span class="pull-right hidden-phone" style="color: #bc1424;"><small><%= average.created_at.to_date %></small></span>
						</td>
						<td style="text-align: center;">
							<% if avg = Average.last(user_id: session[:user], scenario_id: average.scenario_id) %>
								<%= avg.score %>%
							<% else %>
								N/A
							<% end %>
						</td>
						<td style="text-align: center;">
							<% if avg = Average.last(user_id: session[:user], scenario_id: average.scenario_id) %>
							<% unless avg.updated_at == nil %>
								<%= avg.updated_at.display_short if average %>
							<% end %>
							<% end %>
						</td>
						<td style="text-align: center;">
							<% unless avg == nil %>
								<% if avg.score > 69 %>
									0
								<% elsif (((average.created_at + 30) - Time.now.to_date).to_i) > 0 %>
								<strong><%= ((average.created_at + 30) - Time.now.to_date).to_i %></strong>
								<% else %>
									0
								<% end %> Days
							<% end %>
						</td>
						<td style="text-align: right;">
						<% if avg != nil %>	
							<% if avg.score > 69 %>
								<a href="/ceu/scenarios/<%= average.scenario_id %>"><span style="color: #21b935;"><strong>Passed</strong></span></a>
							<% elsif (((average.created_at + 30) - Time.now.to_date).to_i) < 0 %>
								<span style="color: red;"><small>Expired</small></span>
							<% else %>
								<a href="/ceu/scenarios/<%= average.scenario_id %>">Review</a>
							<% end %>
						<% else %>
							<% if (((average.created_at + 30) - Time.now.to_date).to_i) < 0 %>
								<span style="color: red;"><small>Expired</small></span>
							<% else %>
								<a href="/ceu/scenarios/<%= average.scenario_id %>">Continue</a>
							<% end %>
						<% end %>
						
						</td>
					</tr>
					<% end %>
				<% end %>
			<% end %>
					
			</tbody>
		</table>

		<hr /><br />
	<% end %>
	
	
	<!-- –––––––––––––––––– workshop –––––––––––––––––– -->

		<% if @user.workshop_scenarios? %>

			<div>
				<h3><span class="oswald" style="font-size: 1.5em;">Workshop Scenarios</span></h3>
				<br />
			</div>

			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Scenario</th>
					
						<th>Taken On</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% Scenario.all(workshop: true, active: true).each do |scenario| %>
						<% use = Use.last(scenario_id: scenario.id, user_id: @user.id) %>
						<% avg = Average.last(scenario_id: scenario.id, user_id: @user.id) %>
						<tr>
							<td><%= scenario.title %></td>
						
							<td><%= avg.updated_at.display_short if avg %></td>
							<td style="text-align: right;">
								<% unless @user.expired? %>
									<a href="/ncmhce/scenarios/<%= scenario.id %>">Take</a>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<hr /><br />
		<% end %>
	
	
<!-- –––––––––––––––––– practice –––––––––––––––––– -->
	
	<% if @user.practice_exams? %>

		<div>
			<h3><span class="oswald" style="font-size: 1.5em;">NCMHCE Practice Exams</span></h3>
			<br />
		</div>

		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Scenario</th>
					
					<th>Taken On</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% Scenario.all(practice: true, active: true).each do |scenario| %>
					<% use = Use.last(scenario_id: scenario.id, user_id: @user.id) %>
					<% avg = Average.last(scenario_id: scenario.id, user_id: @user.id) %>
					<tr>
						<td><%= scenario.title %></td>
						<td><%= avg.updated_at.display_short if avg %></td>
						<td style="text-align: right;">
							<% unless @user.expired? %>
								<a href="/ncmhce/scenarios/<%= scenario.id %>">Review</a>
							<% end %>
						</td>
						
						
					</tr>
				<% end %>
			</tbody>
		</table>

		<hr /><br />
	<% end %>
	
	
<!-- –––––––––––––––––– downloads –––––––––––––––––– -->

	<% if @user.nce_downloads || @user.ncmhce_downloads %>
		<div>
			<h3><span class="oswald" style="font-size: 1.5em;">Downloads</span></h3>
			<br />
		</div>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Book</th>
					<th class="hidden-phone">Format</th>
					<th style="text-align: center;">Last Update</th>
					<th class="hidden-phone"></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% if @user.ncmhce_downloads %>
					<tr>
						<td>NCMHCE Study Supplement online</td>
						<td colspan="2">
							<span class="label label-important">NEW</span> &nbsp;<span style="font-weight: 600;">Study online. <small>No download needed!</small></span>
						</td>
						<td colspan="2" style="text-align: right;"><a href="/manuals/98/sections/cover">Study now</a></td>
					</tr>
					<tr>
						<td>NCMHCE Study Supplement.pdf</td>
						<td class="hidden-phone">Any device with a PDF Reader</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>5/26/2015</small></span></td>
						<td class="hidden-phone">1.8MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.pdf">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCMHCE Study Supplement.epub</td>
						<td class="hidden-phone">iPhone/iPad, Android, eReaders</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>6/4/2015</small></span></td>
						<td class="hidden-phone">499KB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.epub">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCMHCE Study Supplement.mobi</td>
						<td class="hidden-phone">
							<a href="#" class="top" rel="popover" title="Location of eBook on Kindle" data-content="Even if copied into the Books folder, this eBook might only be accessable from the Docs folder.">Kindle</a>
						</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>6/19/2015</small></span></td>
						<td class="hidden-phone">2.2MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.mobi">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td colspan="5"> </td>
					</tr>
				<% end %>
				<% if @user.nce_downloads %>
					<tr>
						<td>NCE Study Guide.pdf</td>
						<td class="hidden-phone">Any device with a PDF Reader</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>05/15/2014</small></span></td>
						<td class="hidden-phone">2.9MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.pdf">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCE Study Guide.epub</td>
						<td class="hidden-phone">iPhone/iPad, Android, eReaders</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>06/02/2014</small></span></td>
						<td class="hidden-phone">1.2MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.epub">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCE Study Guide.mobi</td>
						<td class="hidden-phone"><a href="#" rel="popover" title="Location of eBook on Kindle" data-content="Even if copied into the Books folder, this eBook might only be accessable from the Docs folder.">Kindle</a>
						</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>06/09/2014</small></span></td>
						<td class="hidden-phone">3.7MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.mobi">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCE Study Guide online</td>
						<td colspan="2">
							<span class="label label-important">NEW</span> &nbsp;<span style="font-weight: 600;">Study online. No download needed!</span>
						</td>
						<td colspan="2" style="text-align: right;"><a href="/manuals/99/sections/cover">Study now</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<hr /><br />
	<% end %>
	
<!-- –––––––––––––––––– purchases –––––––––––––––––– -->

	<% if @user.purchases.count > 0 %>

		<div>
			<h3><span class="oswald" style="font-size: 1.5em;">Purchases</span></h3>
			<br />
		</div>

		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th>Item</th>
				</tr>
			</thead>
			<tbody>
				<% @user.purchases.each do |purchase| %>
					<tr>
						<td><%= purchase.created_at.display :american_day %></td>
						<td>	<%= purchase.amount.dollarize %></td>
						<td>
							<%= purchase.package %>
							<% if purchase.options %>
								<%= purchase.options %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	<% end %>

</div>

</div>

</div>
