<div class="container">

<div class="page-header">
	<h1>
		<%= @user.name %>
		<%= '<small>Admin</small>' if @user.admin? %>
	</h1>
</div>

<div class="row">

	<div class="span3">
		<form class="well form-horizontal" method="post">
			<p>
				<label for="email"><strong>Email address</strong></label>
				<input type="text" style="width: 96%; color: #333333;" name="email" id="email" value="<%= @user.email %>" disabled />
			</p>
			<p>
				<label for="phone"><strong>Phone number</strong></label>
				<input type="text" style="width: 96%;" name="phone" id="phone" value="<%= @user.phone %>" />
			</p>
			<p>
				<label for="password"><strong>New password</strong></label>
				<input type="password" style="width: 96%;" name="password" id="password" />
				<span class="help-inline"  style="line-height: 1em; margin: 3px 0;"><small>Leave blank unless you want a new password.</small></span>
			</p>
			<% if @user.license %>
			<p>
				<small><strong>License:</strong> <%= @user.license %></small>
			</p>
			<% end %>
			<p>
				<button type="submit" class="btn btn-primary">Update Account</button>
			</p>
			<hr />
			<p>
				<% if @user.admin? %>
					No expiration date.
				<% else %>
					<% if (@user.expiration_date - 30) > Time.now.to_date %>
						<small>Account expires on <strong><%= @user.expiration_date.display :american_day %></strong>.</small>
					<% else %>
						<small><span style="color: red;">Account expires on <strong><%= @user.expiration_date.display :american_day %></strong>.</span></small>
					<% end %>
				<% end %>
			</p>
			<% unless @user.expiration_date <= DateTime.now || @user.ceu_scenario %>
				<p><a class="btn btn-success btn-small" href="/checkout/account-extension">Add 90 days for $30</a></p>
			<% end %>
		</form>
		
	</div>

	<div class="span9">

	<% Message.all(profile: true).each do |m| %>
		<div class="alert alert-info" style="border: none;"><%= m.body %></div>
	<% end %>
	
	<% unless @user.ceu_scenario %>
		<% if @user.expiration_date <= DateTime.now %>
			<div class="alert alert-warning" style="border: none;">
				<h3>Your account has expired.</h3>
				<p>You can extend your account by purchasing any product or add-on, or by purchasing an account extension.</p>
				<p><a href="/checkout/account-expiration?account=<%= @user.email %>" class="btn btn-success btn-small">Buy an Account Extension</a></p>
			</div>
		<% end %>
	<% end %> 
 <!-- –––––––––––––––––– nce –––––––––––––––––– -->

	<% if @user.max_exams > 0 %>

		<div class="page-header">
			<h3>
				NCE Exams
					<% unless @user.max_exams > 2 %>
						<span style="float: right; margin-left: 3px;">&nbsp;<a class="btn btn-success btn-small" href="/checkout/nce-upgrade">Buy 2 more practice exams for $60</a></span>
					<% end %>
					<% unless @user.expired? %>
					<% unless @user.purchases.any? { |purchase| purchase.options == "+ Hard Copy" } %>
						<span style="float: right;"><a class="btn btn-success btn-small" href="/checkout/nce-hard-copy">Buy a hard copy for $12.95</a></span>
					<% end %>
					<% end %>
			</h3>
		</div>

    <% Message.all(nce: true).each do |m| %>
      <div class="alert alert-info" style="border: none;"><%= m.body %></div>
    <% end %>
	 <% unless @user.expired? %>
		<p><a href="/nce/exams">Choose an exam</a> to get started.</p>
		<% end %>
		<% unless @exams.empty? %>
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Exam</th>
						<th>Score</th>
						<th>Taken On</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @exams.sort { |a,b| a.exam_id <=> b.exam_id }.each do |average| %>
						<tr>
							<td><%= average.exam_id %>. <%= average.exam.title %></td>
							<td>
								<% if avg = Average.last(user_id: session[:user], exam_id: average.exam_id) %>
									<%= avg.score %>%
								<% else %>
									N/A
								<% end %>
							</td>
							<td><%= average.created_at.display %></td>
							<td style="text-align: right;">
								<% unless @user.expired? %>
									<a href="/nce/exams/<%= average.exam_id %>">Review</a>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>

		<br />
	<% end %>
	
<!-- –––––––––––––––––– ncmhce –––––––––––––––––– -->

	<% if @user.max_scenarios > 0 %>

		<div class="page-header">
			<h3>
				NCMHCE Scenarios
				<small><%= @user.remaining_scenarios %> Remaining</small>
				<% if @user.max_scenarios < 36 %>
					<span style="float: right;">&nbsp; <a class="btn btn-success btn-small" href="/checkout/ncmhce-upgrade">Buy 12 more scenarios for $80</a></span>
				<% end %>
				<% unless @user.expired? %>
				<% unless @user.purchases.any? { |purchase| purchase.options == "+ Hard Copy" } %>
					<span style="float: right;"><a class="btn btn-success btn-small" href="/checkout/ncmhce-hard-copy">Buy a hard copy for $12.95</a></span>
				<% end %>
				<% end %>
			</h3>
		</div>

    <% Message.all(ncmhce: true).each do |m| %>
      <div class="alert alert-info" style="border: none;"><%= m.body %></div>
    <% end %>
	 	<% unless @user.expired? %>
		<p><a href="/ncmhce/scenarios">Choose a scenario</a> to get started.</p>
		<% end %>
		<% unless @scenarios.empty? %>
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Scenario</th>
						<th style="text-align: center;">IG</th>
						<th style="text-align: center;">DM</th>
						<th style="text-align: center;">Taken On</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @scenarios.sort { |a,b| a.scenario_id <=> b.scenario_id }.each do |average| %>
						<% unless average.scenario.workshop? || average.scenario.practice? || average.scenario.ceu? %>
							<tr>
								<td>
									<%= average.scenario_id %>. <%= average.scenario.title %>
								</td>
								<td style="text-align: center;">
									<% @information_gathering = Scoretype.last(
										type: "Information Gathering",
										scenario_id: average.scenario_id,
										user_id: session[:user]
									) %>
									<% if @information_gathering %>
									<%= @information_gathering.correct %>/<%= @information_gathering.possible %> 
									<% else %><small>N/A</small><% end %>
								</td>
								<td style="text-align: center;">
									<% @decision_making = Scoretype.last(
										type: "Decision Making",
										scenario_id: average.scenario_id,
										user_id: session[:user]
									) %>
									<% if @decision_making %>
									<%= @decision_making.correct %>/<%= @decision_making.possible %>
									<% else %><small>N/A</small><% end %>
								</td>
								<% if avg = Average.last(user_id: session[:user], scenario_id: average.scenario_id) %>
								<td style="text-align: center;"><%= avg.updated_at.display_short if average %></td>
								<% end %>
								<td style="text-align: right;">
									<% unless @user.expired? %>
										<a href="/ncmhce/scenarios/<%= average.scenario_id %>">Review</a>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		<% end %>

		<br />
	<% end %>
	

<!-- –––––––––––––––––– ceu –––––––––––––––––– -->

	<% if @user.ceu_scenario > 0 %>

		<div class="page-header">
			<h3>
				CEU Scenarios
				<small><%= @user.remaining_ceu_scenario %> Remaining</small>
				<% if @user.ceu_scenario < 15 %>
					<span style="float: right;">&nbsp; <a class="btn btn-success btn-small" href="/checkout/ceu?package=Single%20Scenario">Buy another CEU scenario for $20</a></span>
				<% end %>
			</h3>
		</div>
      <% Message.all(ceu: true).each do |m| %>
        <div class="alert alert-info" style="border: none;"><%= m.body %></div>
      <% end %>
	 	<% unless @user.expired? || (@user.remaining_ceu_scenario < 1) %>
		<p><a href="/ceu/scenarios">Choose a scenario</a> to get started.</p>
		<% end %>
		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Scenario</th>
					<th style="text-align: center;">Score</th>
					<th style="text-align: center;">Last Taken</th>
					<th style="text-align: center;">Remaining</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @scenarios.sort { |a,b| a.scenario_id <=> b.scenario_id }.each do |average| %>
					<% unless average.scenario.workshop? || average.scenario.practice? %>
					<% if average.scenario.ceu? %>

					<tr>
						<td>
							<%= average.scenario_id %>. <%= average.scenario.title %>
						</td>
						<td style="text-align: center;">
							<% if avg = Average.last(user_id: session[:user], scenario_id: average.scenario_id) %>
								<%= avg.score %>%
							<% else %>
								N/A
							<% end %>
						</td>
						<td style="text-align: center;">
							<% if avg = Average.last(user_id: session[:user], scenario_id: average.scenario_id) %>
							<% unless avg.updated_at == nil %>
								<%= avg.updated_at.display_short if average %>
							<% end %>
							<% end %>
						</td>
						<td style="text-align: center;">
							<% unless avg == nil %>
								<% if (((average.created_at + 30) - Time.now.to_date).to_i) > 0 %>
								<strong><%= ((average.created_at + 30) - Time.now.to_date).to_i %></strong>
								<% else %>
								0
								<% end %> Days &nbsp; <span style="color: #bc1424;"><small><%= average.created_at.to_date %></small></span>
							<% end %>
						</td>
						<td style="text-align: right;">
						<% unless avg == nil %>	
							<% unless @user.expired? || avg == nil %>
								<% if (((average.created_at + 30) - Time.now.to_date).to_i) < 0 %>
									<span style="color: red;"><small>Expired</small></span>
								<% elsif avg.score > 69 %>
									<a href="/ceu/scenarios/<%= average.scenario_id %>"><span style="color: #21b935;">Passed</span></a>
								<% else %>
									<a href="/ceu/scenarios/<%= average.scenario_id %>">Review</a>
								<% end %>
							<% end %>
						<% else %>
								<a href="/ceu/scenarios/<%= average.scenario_id %>">Continue</a>
						<% end %>
						</td>
					</tr>
					<% end %>
				<% end %>
			<% end %>
					
			</tbody>
		</table>

		<br />
	<% end %>
	
	
	<!-- –––––––––––––––––– workshop –––––––––––––––––– -->

		<% if @user.workshop_scenarios? %>

			<div class="page-header">
				<h3>Workshop Scenarios</h3>
			</div>

			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Scenario</th>
					
						<th>Taken On</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% Scenario.all(workshop: true, active: true).each do |scenario| %>
						<% use = Use.last(scenario_id: scenario.id, user_id: @user.id) %>
						<% avg = Average.last(scenario_id: scenario.id, user_id: @user.id) %>
						<tr>
							<td><%= scenario.title %></td>
						
							<td><%= avg.updated_at.display_short if avg %></td>
							<td style="text-align: right;">
								<% unless @user.expired? %>
									<a href="/ncmhce/scenarios/<%= scenario.id %>">Take</a>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<br />
		<% end %>
	
	
<!-- –––––––––––––––––– practice –––––––––––––––––– -->
	
	<% if @user.practice_exams? %>

		<div class="page-header">
			<h3>NCMHCE Practice Exams</h3>
		</div>

		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Scenario</th>
					
					<th>Taken On</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% Scenario.all(practice: true, active: true).each do |scenario| %>
					<% use = Use.last(scenario_id: scenario.id, user_id: @user.id) %>
					<% avg = Average.last(scenario_id: scenario.id, user_id: @user.id) %>
					<tr>
						<td><%= scenario.title %></td>
						<td><%= avg.updated_at.display_short if avg %></td>
						<td style="text-align: right;">
							<% unless @user.expired? %>
								<a href="/ncmhce/scenarios/<%= scenario.id %>">Review</a>
							<% end %>
						</td>
						
						
					</tr>
				<% end %>
			</tbody>
		</table>

		<br />
	<% end %>
	
<!-- –––––––––––––––––– downloads –––––––––––––––––– -->

	<% if @user.nce_downloads || @user.ncmhce_downloads %>
		<div class="page-header">
			<h3>Downloads</h3>
		</div>

		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Book</th>
					<th class="hidden-phone">Format</th>
					<th style="text-align: center;">Last Update</th>
					<th class="hidden-phone"></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% if @user.ncmhce_downloads %>
					<tr>
						<td>NCMHCE Study Supplement.pdf</td>
						<td class="hidden-phone">Any device with a PDF Reader</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>5/26/2015</small></span></td>
						<td class="hidden-phone">1.8MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.pdf">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCMHCE Study Supplement.epub</td>
						<td class="hidden-phone">iPhone/iPad, Android, eReaders</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>6/4/2015</small></span></td>
						<td class="hidden-phone">499KB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.epub">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCMHCE Study Supplement.mobi</td>
						<td class="hidden-phone">
							<a href="#" class="top" rel="popover" title="Location of eBook on Kindle" data-content="Even if copied into the Books folder, this eBook might only be accessable from the Docs folder.">Kindle</a>
						</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>6/19/2015</small></span></td>
						<td class="hidden-phone">2.2MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/ncmhce?file=NCMHCE%20Study%20Supplement.mobi">Download</a></td>
						<% end %>
					</tr>
				<% end %>
				<% if @user.nce_downloads %>
					<tr>
						<td>NCE Study Guide.pdf</td>
						<td class="hidden-phone">Any device with a PDF Reader</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>05/15/2014</small></span></td>
						<td class="hidden-phone">2.9MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.pdf">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCE Study Guide.epub</td>
						<td class="hidden-phone">iPhone/iPad, Android, eReaders</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>06/02/2014</small></span></td>
						<td class="hidden-phone">1.2MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.epub">Download</a></td>
						<% end %>
					</tr>
					<tr>
						<td>NCE Study Guide.mobi</td>
						<td class="hidden-phone"><a href="#" rel="popover" title="Location of eBook on Kindle" data-content="Even if copied into the Books folder, this eBook might only be accessable from the Docs folder.">Kindle</a>
						</td>
						<td style="text-align: center;"><span class="badge badge-info"><small>06/09/2014</small></span></td>
						<td class="hidden-phone">3.7MB</td>
						<% unless @user.expired? %>
						<td style="text-align: right;"><a href="/downloads/nce?file=NCE%20Study%20Guide.mobi">Download</a></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>

		<br />
	<% end %>
	
<!-- –––––––––––––––––– purchases –––––––––––––––––– -->

	<% if @user.purchases.count > 0 %>

		<div class="page-header">
			<h3>Purchases</h3>
		</div>

		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Amount</th>
					<th>Item</th>
				</tr>
			</thead>
			<tbody>
				<% @user.purchases.each do |purchase| %>
					<tr>
						<td><%= purchase.created_at.display :american_day %></td>
						<td>	<%= purchase.amount.dollarize %></td>
						<td>
							<%= purchase.package %>
							<% if purchase.options %>
								<%= purchase.options %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	<% end %>

</div>

</div>

</div>
