<div class="row">
	<div class="span4 affix">
		
		<%= erb :'manuals/nav', layout: false %>
		
		
		
		
		<div class="nav nav-stacked chapter-nav"  id="navbarChapter">
		<p class="oswald center" style="background-color: #868686; color: white; margin: 0.2em 0 0.5em 0; font-size: 0.8em;">CHAPTERS</p>
		<ul>
			<% @chapter.sort_by(&:chapter_number).each do |chapter| %>
			<% if chapter.chapter_title != "" %>
			<li class="">
				
				<a href="#<%= chapter.id %>" class="chapter-link"><%= chapter.chapter_title %></a>
				
			</li>
			<% end %>
			<% end %>
		</ul>
		</div>
		
		
	 <br />
		<p class="center">
			<a href="#top"><img src="/img/phone-up-pointer.svg" /></i></a><br /><br /><br />
		</p>
	</div>

	<div class="span8 offset4 md">
	
		<h3 class="oswald" style="color: #1c89de; margin: 0.9em 0 0.5em 0;">Study Program Guide prepared for <%= @user.name %></h3>
		<h1 style="font-size: 2.5em;"><%= @manual.name %></h1>
		<hr />
		
	 <% @chapter.sort_by(&:chapter_number).each do |chapter| %>
	 <% if chapter.chapter_title != "" %>
	 
	 <a name="<%= chapter.id %>" id="<%= chapter.id %>" style="color: #244883; text-decoration: none;" data-spy="scroll"><h1 style="font-size: 2em;"><%= chapter.chapter_title %></h1></a>
	 <% else %>
	 <h2 style="margin-top: 0;"><%= chapter.sub_chapter_title %></h2>
 	
	 <% end %>
	 <%= markdown chapter.body %>
	 <br />
	 <% end %>
			
	</div>
</div>

<a href="#top"><img src="/img/phone-up-pointer.svg" style="position: fixed; bottom: 12px; right: 6px;" /></a>

<script>
	
$(document).ready(function(){
    
    $('.scroll').click(function(event) {
        event.preventDefault();
 
        var full_url = this.href;
        
        var parts = full_url.split('#');
        var trgt = parts[1];

        var target_offset = $('#'+trgt).offset();
        var target_top = target_offset.top;

        $('html, body').animate({scrollTop:target_top}, 500);


    });
    
    $('.nav#navbarChapter a').click(function(){
         $('.nav#navbarChapter a').removeClass('active');
         $(this).addClass('active');
    });
    
});

	
</script>
