<style>
.topSpace  {
	offset: -58px;
}
</style>

<div class="row">
	<div class="span4 affix">
		
		<%= erb :'manuals/nav', layout: false %>
		
		<div class="menu">
			<p class="oswald center" style="background-color: #868686; color: white; margin: 0.2em 0 0 0; font-size: 0.8em;">CHAPTERS</p>

			<div onmouseover="document.body.style.overflow='hidden';"  onmouseout="document.body.style.overflow='auto';" id="menu-center" style="height: calc(100vh - 210px); overflow-y: scroll; border: 1px solid #dbdbdb; display: flex;">
				
				<ul class="nav nav-stacked" style="padding: 4px 0 0 0;">
					<% @chapter.sort_by(&:chapter_number).each do |chapter| %>
					<% if chapter.chapter_title != "" %>
					<li>
						<a href="#<%= chapter.id %>"><%= chapter.chapter_title %></a>

							<% elsif chapter.sub_chapter_title != "" %>
							<ul class="nav">
								<li>
									<a href="#<%= chapter.id %>"><%= chapter.sub_chapter_title %></a>
								</li>
							</ul>
							<% end %>

					</li>
					<% end %>
				</ul>
				
			</div>

		</div>
		
	 <br />
		<!-- <p class="center">
			<a href="#top"><img src="/img/phone-up-pointer.svg" /></i></a><br /><br /><br />
		</p> -->
	</div>

	<div class="span8 offset4">

		<h4 class="oswald" style="color: #1c89de; font-weight: 400;">Study Program Guide prepared for <%= @user.name %></h4>
		<h1 style="font-size: 2.5em;"><%= @manual.name %></h1>
		<hr />

		
			
		<% @chapter.sort_by(&:chapter_number).each do |chapter| %>
		

		<div id="<%= chapter.id %>" class="md">
			<% if chapter.chapter_title != "" %>

			<a name="<%= chapter.id %>" style="color: #244883; text-decoration: none;"><h1 style="font-size: 2em; margin: 1em 0 0.6em 0;"><%= chapter.chapter_title %></h1></a>
			<% else %>
			<a name="<%= chapter.id %>" style="color: #244883; text-decoration: none;"><h2 style="padding-top: 0.1em; font-size: 1.6em; line-height: 1.2em;"><%= chapter.sub_chapter_title %></h2></a>
			<% end %>	

			<%= markdown chapter.body %>
			
		</div>
		<% end %>
		
		
	
	
	</div>
</div>

<!-- <a href="#top"><img src="/img/phone-up-pointer.svg" style="position: fixed; bottom: 12px; right: 6px;" /></a> -->

<script>
	$(document).ready(function () {
	    $(document).on("scroll", onScroll);
    
	    //smoothscroll
	    $('a[href^="#"]').on('click', function (e) {
			   
	        e.preventDefault();
	        $(document).off("scroll");
        
	        $('a').each(function () {
	            $(this).removeClass('active');
	        })
	        $(this).addClass('active');
      
	        var target = this.hash,
	            menu = target;
	        $target = $(target);
	        $('html, body').stop().animate({
	            'scrollTop': $target.offset().top-58
	        }, 500, 'swing', function () {
	            window.location.hash = target.off;
	            $(document).on("scroll", onScroll);
	        });
	    });
	});

	function onScroll(event){
	    var scrollPos = $(document).scrollTop();
	    $('#menu-center a').each(function () {
	        var currLink = $(this);
	        var refElement = $(currLink.attr("href"));
	        if (refElement.position().top-100 <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
	            $('#menu-center ul li a').removeClass("active");
	            currLink.addClass("active");
	        }
	        else{
	            currLink.removeClass("active");
	        }
	    });
	}
</script>

